<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <title>Vvogue | Fashion Store</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Vvogue | Fashion Store">
    <meta name="keywords"
        content="shop, e-commerce, market, modern, responsive,  business, mobile, gallery, slider, touch, creative, clean">
    <meta name="author" content="Vvogue | Fashion Store">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7b60672f37.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
    <!-- Main Theme Styles!-->
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">

        <!-- Navbar 3 Level (Light)-->
        <header class="shadow-sm">
            <!-- Topbar-->
            <div class="topbar topbar-dark bg-dark">
                <div class="container">
                    <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#"
                            data-bs-toggle="dropdown">Useful links</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="tel:08149011368"><i
                                        class="ci-support text-muted me-2"></i>+234-814-901-1368</a></li>
                            <li><a class="dropdown-item" href="order-tracking.html"><i
                                        class="ci-location text-muted me-2"></i>Order
                                    tracking</a></li>
                        </ul>
                    </div>
                    <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span
                            class="text-muted me-1">Support</span><a class="topbar-link"
                            href="tel:08149011368">+234-814-901-1368</a>
                    </div>
                    <div class="tns-carousel tns-controls-static d-none d-md-block">
                        <div class="tns-carousel-inner"
                            data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                            <div class="topbar-text">Interstate-Deliveries🚜</div>
                            <div class="topbar-text">We return money within 30 days in default situations</div>
                            <div class="topbar-text">Friendly 24/7 customer support</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
            <div class="navbar-sticky bg-light">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <img class="letter-v" src="img/letter-v.jpg" alt="logo">

                        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                            <button class="navbar-toggler" type="button"><span
                                    class="navbar-toggler-icon"></span></button><a
                                class="navbar-tool navbar-stuck-toggler" href="/user-signup"><span
                                    class="navbar-tool-tooltip">Expand menu</span>
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
                            </a><a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="/user-signup"
                                data-bs-toggle="modal">
                                <div class="navbar-tool-icon-box"><i class="ci-user"></i></div>
                                <a href="/shop-grid-ft">
                                    <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div>
                                </a>
                            </a>

                        </div>
                    </div>
                    <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <!-- Search-->

                                <!-- Primary menu-->
                                <ul class="navbar-nav">
                                    <a class="nav-link" href="#">Home</a>



                                    <li class="nav-item"><a class="nav-link" href="/shop-grid-ft">Shop</a>


                                    <li class="nav-item"><a class="nav-link" href="#">Contact</a>


                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </header>