<%- include('partials/header') %>
    <div class="container py-4 py-lg-5 my-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <!-- <h2 class="h4 mb-1">Sign in</h2> -->
                        <div class="col-lg-12">
                            <img class="signup-jpg" src="img/signup.png" alt="signup-jpg">
                        </div>
                    </div>

                    <div class="col-lg-12 pt-4 mt-3 mt-md-0 signup">
                        <h2 class="h4 mb-3">No account? Sign up</h2>
                        <p class="fs-sm text-muted mb-4">Registration takes less than a minute but gives you full
                            control
                            over your orders.</p>
                        <form action="/user-signup" method="post">
                            <div class="row gx-4 gy-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-fn">First Name</label>
                                    <input class="form-control" type="text" name="firstName" required>
                                    <div class="invalid-feedback">Please enter your first name!</div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-ln">Last Name</label>
                                    <input class="form-control" type="text" name="lastName" required>
                                    <div class="invalid-feedback">Please enter your last name!</div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-email">E-mail Address</label>
                                    <input class="form-control" type="email" name="username" required>
                                    <div class="invalid-feedback">Please enter valid email address!</div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-phone">Phone Number</label>
                                    <input class="form-control" type="text" name="telephone" required>
                                    <div class="invalid-feedback">Please enter your phone number!</div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-password">Password</label>
                                    <input class="form-control" type="password" name="password">
                                    <div class="invalid-feedback">Please enter password!</div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="reg-password-confirm">Confirm Password</label>
                                    <input class="form-control" type="password" required id="reg-password-confirm">
                                    <div class="invalid-feedback">Passwords do not match!</div>
                                </div>
                                <div class="col-12 text-end">
                                    <button class="btn btn-primary signup" type="submit"><i
                                            class="ci-user me-2 ms-n1"></i>Sign
                                        Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </main>
            <!-- Footer-->
            <%- include('partials/footer')%>